// VARIABLES
$font-stack: "Rubik", sans-serif;
$link-color: #b3b3b3;
$text-color: #ffffff;
$blizzard-color: #00b4ff;
$hover-blizzard-color: #00a2e6;
$active-blizzard-color: #007eb3;
$status-color: #6cdb00;
$status-border-color: #333333;
$shadow-color: #000000;
